.CommentPost, .Pages-page .Pages-container {
  .tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    clear: both;
    margin: 25px 0;
    align-content: flex-start;

    &[data-fullheight] {
      .tab > .content {
        height: unset;
      }
    }

    .tab {
      display: contents;

      &:first-of-type label {
        border-top-left-radius: var(--border-radius);
      }

      &:last-of-type label {
        border-top-right-radius: var(--border-radius);
      }

      > [type=radio] {
        display: none;

        ~ label {
          order: 1;
          flex: 0 0 auto;
          background: var(--body-bg);
          padding: 10px 10px 7px;
          border: 1px solid var(--muted-color);
        }
      }

      > .content {
        display: none;
        background: var(--body-bg);
        padding: 10px 20px;
        border: 1px solid var(--muted-color);
        border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
        overflow-y: auto;

        height: var(--tab-content-height, 150px);

        :last-child {
          margin-bottom: 0;
        }
      }

      > [type=radio]:checked {
        ~ label {
          background: var(--control-bg);
          font-weight: bold;
          border-bottom: 1px solid var(--primary-color);
        }

        ~ label ~ .content {
          display: block;
          order: 2;
          flex: 0 0 100%;
        }
      }
    }
  }
}
